*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #98f6df;
}
.gap{
    margin: 5px;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "n n1 n2"
    "n3 n4 n5"
    "n6 n7 n8";
    /* row-gap: 0; */
    
    width: 40vw;
    height: 70vh;
    justify-content: center;
    
}
@media(max-width:575px){
    .container-2{
        width:100vw ;
    }
}

.container-2 div{
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(53, 53, 40);
}
.container-2 div:hover{
    background-color: #d42a5b;
}
.b1{
    grid-area: n;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b2{
    grid-area: n1;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b3{
    grid-area: n2;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b4{
    grid-area: n3;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b5{
    grid-area: n4;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b6{
    grid-area: n5;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b7{
    grid-area: n6;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.b8{
    grid-area: n7;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.btn-light:hover{
    background-color:#d42a5b ;
    color: white;
}
.b9{
    grid-area: n8;
    background-color: #e63f66;
    width: 191px;
    height:23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.container-1{
    width: 100vw;
    height: 10vh;
    background-color: #6e696a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-3{
    width: 100vw;
    height: 10vh;
    background-color: #3a140b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-4{
    width: 100vw;
    height: 10vh;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.geeks { 
    width: 410px; 
    height: 2px; 
    background: #fff; 
    position: absolute; 
    top: 22.3%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}
@keyframes animate { 
    0% { 
        left: 0; 
    } 

    50% { 
        left: 100%; 
    } 

    0% { 
        left: 0; 
    } 
}
